/* You can add global styles to this file, and also import other style files */
@use "assets/scss/_base";
@import '~bootstrap/scss/bootstrap';

@import '~ngx-toastr/toastr-bs4-alert';

@import './assets/scss/variables';

.header__panel {
  background-color: $primary-colour;
  padding: $spacer-md;
  h1, h2, h3, p {
    color: $primary-font;
  }
}
